grpcio==1.9.0
grpcio-tools==1.9.0
claripy==7.8.8.1
cle==7.8.8.1
angr==7.8.8.1
angr-utils==0.4.0
ailment==7.8.6.16
ana==0.5
archinfo==7.8.9.26
bingraphvis==0.3.0
bitstring==3.1.5
cachetools==3.1.1
capstone==4.0.2
cffi==1.7.0
cooldict==1.4
decorator==4.4.2
dpkt-fix==1.7
enum34==1.1.10
future==0.16.0
futures==3.3.0
gitdb2==2.0.6
GitPython==2.1.15
idalink==0.10
mulpyplexer==0.9
networkx==2.2
pefile==2016.3.28
plumbum==1.7.2
progressbar==2.5
protobuf==3.17.3
pycparser==2.18
pydot==1.4.2
pyelftools==0.25
pyparsing==2.4.7
pyvex==7.8.9.26
rpyc==4.1.5
six==1.16.0
smmap==3.0.5
smmap2==3.0.1
sortedcontainers==2.4.0
unicorn==1.0.3
z3-solver==4.5.1.0.post2
